body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 16px;
}

ol.gameStep button {
  background: #0055cc;
  border: none;
  padding: 8px;
  margin-bottom: 8px;
  color: #fff;
  border-radius: 6px;
  width: 120px;
}

ol.gameStep button:hover {
  background: #0070cc;
  cursor: pointer;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:hover {
  background-color: #f2f2f2;
}

div.squares-x button.square:hover:before {
  content: "X";
  opacity: 0.2;
}

div.squares-o button.square:hover:before {
  content: "O";
  opacity: 0.2;
}


div.squares-o button.square-filled:hover{
  background-color: initial; 
}
div.squares-o button.square-filled:hover:before {
    content: "";
}

div.squares-x button.square-filled:hover{
  background-color: initial; 
}
div.squares-x button.square-filled:hover:before {
    content: "";
}

.square-hightlight{
  color: #0055cc;
}

.board-row:first-child .square:first-child {
  border-radius: 10px 0 0;
}

.board-row:last-child .square:last-child {
  border-radius: 0 0 10px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.gameTable{
  margin-top: 3px;
}

.gameStep{
  margin-bottom: 0;
}

.gameBoard{
  margin-top: 3px;
}

.game-info {
  margin-left: 20px;
  background: #f2f2f2;
  padding: 12px;
  border-radius: 10px;
}
